.title {
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    left: 100%;
    height: 2px;
    background-color: white;
  }
  &:hover::after {
    left: 10%;
    width: 80%;
    transition: all ease-out 0.15s;
  }
  &:active {
    opacity: 0.75;
  }
}

.spacer {
  flex: 1 0 auto;
}
